.app-container {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  margin-top: 25px;
  align-items: center;
}

.add-players-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: fit-content;
}

.session-title {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 25px;
}

button.start-button {
  width: 250px;
  margin-right: 25px;
}

button.reset-button {
  width: 250px;
  margin-left: 25px;
}
